<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uiconponent">

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".draw.DrawApiActivity"></activity>
        <activity android:name=".input.InputActivity">

        </activity>
        <activity
            android:name=".designer.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/NoActionBar" />
        <activity android:name=".listview.ListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>